<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.hstfeed"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="3"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <receiver
            android:name=".appwidget.HSTFeed"
            android:label="@string/widget_sm" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" >
                </action>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_sm" >
            </meta-data>
        </receiver>

        <activity
            android:name=".activity.HSTFeedConfigure"
            android:label="@string/configure_hst" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" >
                </action>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.HSTFeedConfigureImages"
            android:label="@string/configure_hst" />
        <activity
            android:name=".activity.HSTFeedClickOptions"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".activity.HSTFeedConfigureImagesOptions"
            android:theme="@android:style/Theme.Dialog" />

        <service android:name=".service.HSTFeedService" />
    </application>

</manifest>